{% load static %}
<div class="slider-amazing">
            <div class="row">
                <div class="container">
                    <div class="block-special-title mb-3">
                        <i class="fal fa-hourglass-end"></i>
                        <span class="Offers">پیشنهادات</span>
                        <span>شگفت انگیز</span>
                    </div>
                    <div class="block-content-wrap">
                        <div class="swiper mySwiper sliderAmazing">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="item">
                                        <h2 class="product-name">
                                            <a href="#">
                                                تلويزيون ال اي دي هوشمند خميده سامسونگ مدل 88KS9800 سايز 88 اينچ
                                            </a>
                                        </h2>
                                        <div class="is-image image-area">
                                            <a href="#">
                                                <img src="{% static "" %}images/sliderA/sliderA1.jpg" alt="sliderAmazing">
                                            </a>
                                        </div>
                                        <div class="price">
                                            <del>
                                                <span class="price-amount">71,000,000
                                                    <span class="price-currencySymbol">تومان</span>
                                                </span>
                                            </del>
                                            <ins>
                                                <span class="price-amount">69,000,000
                                                    <span class="price-currencySymbol">تومان</span>
                                                </span>
                                            </ins>
                                        </div>
                                        <div class="timer-wrap">
                                            <div class="countdown countdown-style-3 h4"
                                                data-date-time="2022-10-31 20:29:59"
                                                data-labels='{"label-second": "ثانیه", "label-minute": "دقیقه", "label-hour": "ساعت", "label-day": "روز"}'>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="item">
                                        <h2 class="product-name">
                                            <a href="#">
                                                تلويزيون ال اي دي هوشمند خميده سامسونگ مدل 88KS9800 سايز 88 اينچ
                                            </a>
                                        </h2>
                                        <div class="is-image image-area">
                                            <a href="#">
                                                <img src="{% static "" %}images/sliderA/sliderA2.jpg" alt="sliderAmazing">
                                            </a>
                                        </div>
                                        <div class="price">
                                            <del>
                                                <span class="price-amount">71,000,000
                                                    <span class="price-currencySymbol">تومان</span>
                                                </span>
                                            </del>
                                            <ins>
                                                <span class="price-amount">69,000,000
                                                    <span class="price-currencySymbol">تومان</span>
                                                </span>
                                            </ins>
                                        </div>
                                        <div class="timer-wrap">
                                            <div class="countdown countdown-style-3 h4"
                                                data-date-time="2022-10-31 20:29:59"
                                                data-labels='{"label-second": "ثانیه", "label-minute": "دقیقه", "label-hour": "ساعت", "label-day": "روز"}'>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="item">
                                        <h2 class="product-name">
                                            <a href="#">
                                                تلويزيون ال اي دي هوشمند خميده سامسونگ مدل 88KS9800 سايز 88 اينچ
                                            </a>
                                        </h2>
                                        <div class="is-image image-area">
                                            <a href="#">
                                                <img src="{% static "" %}images/sliderA/sliderA1.jpg" alt="sliderAmazing">
                                            </a>
                                        </div>
                                        <div class="price">
                                            <del>
                                                <span class="price-amount">71,000,000
                                                    <span class="price-currencySymbol">تومان</span>
                                                </span>
                                            </del>
                                            <ins>
                                                <span class="price-amount">69,000,000
                                                    <span class="price-currencySymbol">تومان</span>
                                                </span>
                                            </ins>
                                        </div>
                                        <div class="timer-wrap">
                                            <div class="countdown countdown-style-3 h4"
                                                data-date-time="2022-10-31 20:29:59"
                                                data-labels='{"label-second": "ثانیه", "label-minute": "دقیقه", "label-hour": "ساعت", "label-day": "روز"}'>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="item">
                                        <h2 class="product-name">
                                            <a href="#">
                                                تلويزيون ال اي دي هوشمند خميده سامسونگ مدل 88KS9800 سايز 88 اينچ
                                            </a>
                                        </h2>
                                        <div class="is-image image-area">
                                            <a href="#">
                                                <img src="{% static "" %}images/sliderA/sliderA2.jpg" alt="sliderAmazing">
                                            </a>
                                        </div>
                                        <div class="price">
                                            <del>
                                                <span class="price-amount">71,000,000
                                                    <span class="price-currencySymbol">تومان</span>
                                                </span>
                                            </del>
                                            <ins>
                                                <span class="price-amount">69,000,000
                                                    <span class="price-currencySymbol">تومان</span>
                                                </span>
                                            </ins>
                                        </div>
                                        <div class="timer-wrap">
                                            <div class="countdown countdown-style-3 h4"
                                                data-date-time="2022-10-31 20:29:59"
                                                data-labels='{"label-second": "ثانیه", "label-minute": "دقیقه", "label-hour": "ساعت", "label-day": "روز"}'>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="item">
                                        <h2 class="product-name">
                                            <a href="#">
                                                تلويزيون ال اي دي هوشمند خميده سامسونگ مدل 88KS9800 سايز 88 اينچ
                                            </a>
                                        </h2>
                                        <div class="is-image image-area">
                                            <a href="#">
                                                <img src="{% static "" %}images/sliderA/sliderA1.jpg" alt="sliderAmazing">
                                            </a>
                                        </div>
                                        <div class="price">
                                            <del>
                                                <span class="price-amount">71,000,000
                                                    <span class="price-currencySymbol">تومان</span>
                                                </span>
                                            </del>
                                            <ins>
                                                <span class="price-amount">69,000,000
                                                    <span class="price-currencySymbol">تومان</span>
                                                </span>
                                            </ins>
                                        </div>
                                        <div class="timer-wrap">
                                            <div class="countdown countdown-style-3 h4"
                                                data-date-time="2022-10-31 20:29:59"
                                                data-labels='{"label-second": "ثانیه", "label-minute": "دقیقه", "label-hour": "ساعت", "label-day": "روز"}'>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>