
{#                <div class="col-lg-3">#}
{#                    <div class="sliderMoments">#}
{#                        <div class="slider-heading">#}
{#                            <h5>پیشنهاد لحظه ای</h5>#}
{#                        </div>#}
{#                        <div class="slider-content">#}
{#                            <div class="realtime-slider-wrap">#}
{#                                <div class="swiper mySwiper slider-moments">#}
{#                                    <div class="swiper-progress-bar">#}
{#                                        <span class="slide-progress-bar"></span>#}
{#                                    </div>#}
{#                                    <div class="swiper-wrapper">#}
{#                                        <div class="swiper-slide">#}
{#                                            <div class="item">#}
{#                                                <div class="realtime-product">#}
{#                                                    <div class="is-image product-image">#}
{#                                                        <a href="#">#}
{#                                                            <img src="{% static "" %}images/sliderP/camera.jpg"#}
{#                                                                alt="sliderProduct">#}
{#                                                        </a>#}
{#                                                    </div>#}
{#                                                    <div class="product-detail-area">#}
{#                                                        <h3 class="product-name">#}
{#                                                            <a href="#">جاروبرقی فيليپس مدل FC9176/01</a>#}
{#                                                        </h3>#}
{#                                                    </div>#}
{#                                                    <div class="realtime-info">#}
{#                                                        <div class="realtime-price d-inline-block">#}
{#                                                            <div class="price">#}
{#                                                                <del>#}
{#                                                                    <span class="price-amount">71,000,000#}
{#                                                                        <span class="price-currencySymbol">تومان</span>#}
{#                                                                    </span>#}
{#                                                                </del>#}
{#                                                                <ins>#}
{#                                                                    <span class="price-amount">69,000,000#}
{#                                                                        <span class="price-currencySymbol">تومان</span>#}
{#                                                                    </span>#}
{#                                                                </ins>#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                        <a href="#" class="realtime-more">#}
{#                                                            <i class="fal fa-long-arrow-alt-left"></i>#}
{#                                                        </a>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="swiper-slide">#}
{#                                            <div class="item">#}
{#                                                <div class="realtime-product">#}
{#                                                    <div class="is-image product-image">#}
{#                                                        <a href="#">#}
{#                                                            <img src="{% static "" %}images/sliderP/laptopaleen.jpg"#}
{#                                                                alt="sliderProduct">#}
{#                                                        </a>#}
{#                                                    </div>#}
{#                                                    <div class="product-detail-area">#}
{#                                                        <h3 class="product-name">#}
{#                                                            <a href="#">جاروبرقی فيليپس مدل FC9176/01</a>#}
{#                                                        </h3>#}
{#                                                    </div>#}
{#                                                    <div class="realtime-info">#}
{#                                                        <div class="realtime-price d-inline-block">#}
{#                                                            <div class="price">#}
{#                                                                <del>#}
{#                                                                    <span class="price-amount">71,000,000#}
{#                                                                        <span class="price-currencySymbol">تومان</span>#}
{#                                                                    </span>#}
{#                                                                </del>#}
{#                                                                <ins>#}
{#                                                                    <span class="price-amount">69,000,000#}
{#                                                                        <span class="price-currencySymbol">تومان</span>#}
{#                                                                    </span>#}
{#                                                                </ins>#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                        <a href="#" class="realtime-more">#}
{#                                                            <i class="fal fa-long-arrow-alt-left"></i>#}
{#                                                        </a>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="swiper-slide">#}
{#                                            <div class="item">#}
{#                                                <div class="realtime-product">#}
{#                                                    <div class="is-image product-image">#}
{#                                                        <a href="#">#}
{#                                                            <img src="{% static "" %}images/sliderP/iphone8.jpg"#}
{#                                                                alt="sliderProduct">#}
{#                                                        </a>#}
{#                                                    </div>#}
{#                                                    <div class="product-detail-area">#}
{#                                                        <h3 class="product-name">#}
{#                                                            <a href="#">جاروبرقی فيليپس مدل FC9176/01</a>#}
{#                                                        </h3>#}
{#                                                    </div>#}
{#                                                    <div class="realtime-info">#}
{#                                                        <div class="realtime-price d-inline-block">#}
{#                                                            <div class="price">#}
{#                                                                <del>#}
{#                                                                    <span class="price-amount">71,000,000#}
{#                                                                        <span class="price-currencySymbol">تومان</span>#}
{#                                                                    </span>#}
{#                                                                </del>#}
{#                                                                <ins>#}
{#                                                                    <span class="price-amount">69,000,000#}
{#                                                                        <span class="price-currencySymbol">تومان</span>#}
{#                                                                    </span>#}
{#                                                                </ins>#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                        <a href="#" class="realtime-more">#}
{#                                                            <i class="fal fa-long-arrow-alt-left"></i>#}
{#                                                        </a>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="swiper-slide">#}
{#                                            <div class="item">#}
{#                                                <div class="realtime-product">#}
{#                                                    <div class="is-image product-image">#}
{#                                                        <a href="#">#}
{#                                                            <img src="{% static "" %}images/sliderP/iphone12.webp"#}
{#                                                                alt="sliderProduct">#}
{#                                                        </a>#}
{#                                                    </div>#}
{#                                                    <div class="product-detail-area">#}
{#                                                        <h3 class="product-name">#}
{#                                                            <a href="#">جاروبرقی فيليپس مدل FC9176/01</a>#}
{#                                                        </h3>#}
{#                                                    </div>#}
{#                                                    <div class="realtime-info">#}
{#                                                        <div class="realtime-price d-inline-block">#}
{#                                                            <div class="price">#}
{#                                                                <del>#}
{#                                                                    <span class="price-amount">71,000,000#}
{#                                                                        <span class="price-currencySymbol">تومان</span>#}
{#                                                                    </span>#}
{#                                                                </del>#}
{#                                                                <ins>#}
{#                                                                    <span class="price-amount">69,000,000#}
{#                                                                        <span class="price-currencySymbol">تومان</span>#}
{#                                                                    </span>#}
{#                                                                </ins>#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                        <a href="#" class="realtime-more">#}
{#                                                            <i class="fal fa-long-arrow-alt-left"></i>#}
{#                                                        </a>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="swiper-slide">#}
{#                                            <div class="item">#}
{#                                                <div class="realtime-product">#}
{#                                                    <div class="is-image product-image">#}
{#                                                        <a href="#">#}
{#                                                            <img src="{% static "" %}images/sliderP/galaxys8-plus.jpg"#}
{#                                                                alt="sliderProduct">#}
{#                                                        </a>#}
{#                                                    </div>#}
{#                                                    <div class="product-detail-area">#}
{#                                                        <h3 class="product-name">#}
{#                                                            <a href="#">جاروبرقی فيليپس مدل FC9176/01</a>#}
{#                                                        </h3>#}
{#                                                    </div>#}
{#                                                    <div class="realtime-info">#}
{#                                                        <div class="realtime-price d-inline-block">#}
{#                                                            <div class="price">#}
{#                                                                <del>#}
{#                                                                    <span class="price-amount">71,000,000#}
{#                                                                        <span class="price-currencySymbol">تومان</span>#}
{#                                                                    </span>#}
{#                                                                </del>#}
{#                                                                <ins>#}
{#                                                                    <span class="price-amount">69,000,000#}
{#                                                                        <span class="price-currencySymbol">تومان</span>#}
{#                                                                    </span>#}
{#                                                                </ins>#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                        <a href="#" class="realtime-more">#}
{#                                                            <i class="fal fa-long-arrow-alt-left"></i>#}
{#                                                        </a>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <div class="swiper-button-next"></div>#}
{#                                    <div class="swiper-button-prev"></div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}