{% extends "shared/MainLayout.html" %}

{% block content %}
    <!-- content -->
    <main class="content">
        <div class="about-us">
            <div class="container">
                <div class="row">
                    <div class="about-us-head">
                        <div class="about-us-head-content">
                            <div class="about-us-head-title-logo">
                                <span>درباره ما</span>
                            </div>
                            <h1 class="about-us-head-title">فروشگاه اینترنتی ترموس</h1>
                            <p class="about-us-head-text">
                                فروش قعطات لوازم خانگی و صنعتی
                            </p>
                        </div>
                    </div>
                </div>
                <div class="page-content-about">
                    <div class="page-content-about-paragraph">
                        <p>
                        </p>
                    </div>
                    <hr>
                    <div class="page-content-about-paragraph h6">
                            <p style="text-align: JUSTIFY;">
                                چند سالی است که با اجرایی شدن قوانین تجارت الکترونیک در ایران اعتماد جامعه به خرید از نوع آنلاین بیشتر شده
                            وهمین امر باعث شده که هر کسب و کار کوچکی هم به داشتن یک پایگاه فروش آنلاین ترغیب شود و آن را به عنوان فرصتی برای خدمات بهتر و سریعتر ارائه کالا و خدمات خودبداند.
                            </p>
                    </div>
                    <div class="page-content-about-paragraph">
                        <p>
                            <p>
                                فروشگاه خردمند با بیش از چند دهه تجربه در فروش قطعات لوازم خانگی
                                اکنون با نام فروشگاه اینترنتی ترموس به صورت آنلاین آماده ارائه خدمات و کالا به هموطنان عزیزمان میباشد
                            </p>
                            <br>
                            <hr>
                            <br>








                        <div class="container">
                            <div class="col-md-6 col-sm-6 col-xs-12 fr">
                                <br>
                                <br>
                                <h6>ترموس:</h6>
                                <p class="h5"> صاحب امتیاز : محمدمهدی خردمندنژاد</p>
                                <p class="h5"> عنوان کسب و کار : فروشگاه قطعات لوازم خانگی و صنعتی</p>
                                <p class="h5"> آدرس فروشگاه : کرمانشاه - جوانشیر - فروشگاه خردمند</p>
                                <p class="h5"> پشتیبانی : ۷۲۳۲۹۸۷-۰۹۱۸</p>
                                <p class="h5"> واتساپ : ۶۸۱۸۸۵۳-۰۹۳۵</p>
                                <p class="h5"> تلفن فروشگاه : ۳۷۲۷۰۴۰۹-۰۸۳</p>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 fr">
                                <br>
                                <br>
                                <div class="footer-list">
                                    <div class="title-list">نماد‌ها: (برای اطمینان کلیک کنید)</div>
                                    <ul>
                                        <li class="list-item">
                                            <hr>
                                                <!-- Enamad -->
                                                <a referrerpolicy="origin" target="_blank" href="https://trustseal.enamad.ir/?id=287961&amp;Code=Z425pazUZiyyZXhAYALp">
                                                    <img referrerpolicy="origin" src="https://Trustseal.eNamad.ir/logo.aspx?id=287961&amp;Code=Z425pazUZiyyZXhAYALp" alt="" style="cursor:pointer" id="Z425pazUZiyyZXhAYALp">
                                                </a>

                                            <!-- Zarinpal -->
                                            <script src="https://www.zarinpal.com/webservice/TrustCode" type="text/javascript"></script>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>




                            <br>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- content -->
{% endblock %}