{%  extends "shared/MainLayout.html" %}

{% block content %}
    <!-- content -->
    <main class="content">
        <div class="about-us">
            <div class="container">
                <div class="page-content-about">
                    <div class="page-content-about-paragraph">
                        <section id="main">
                            <hr>
                            <h3 class="page-heading">شرايط و قوانین فروشگاه</h3>
                            <hr>
                            <section id="content" class="page-content page-cms page-cms-3">
                            <div class="typo">

                                <p><span style="color: #eba926;"><strong>ثبت هر سفارش و یا تراکنش مالی با فروشگاه ترموس به معنی پذیرش قوانین و شرایط ذیل می باشد و خریدار ملزم به مطالعه و رعایت قوانین مندرج در این صفحه می باشد.</strong></span></p>
                                <p>&nbsp;</p>

                                <p><br><span style="color: #eb6526;"> <strong>ثبت اطلاعات مشتریان</strong></span></p>
                                <p>مشتری موظف است در هنگام ثبت&zwnj;نام و یا ثبت سفارش، مشخصات شخصی شامل نام و نام خانوادگی، شماره تلفن تماس (تلفن همراه و تلفن ثابت با پیش شماره شهرستان) و آدرس و کد پستی کامل خود را با کیبورد فارسی به&zwnj;دقت وارد کند. همچنین ایمیل و شماره تماس ثبت&zwnj;شده می&zwnj;بایست معتبر باشد تا بتوان در مواقع لزوم با مشتری تماس گرفت. بدیهی است درصورتی&zwnj;که اطلاعات مندرج در حساب کاربری مشتری صحیح نباشد، &zwnj;مسئولیت هرگونه ناهماهنگی درروند ارسال سفارش، شامل (و نه محدود به) تأخیر، گم&zwnj;شدن و یا برگشت سفارش بر عهده مشتری بوده و هرگونه ضرر و زیان احتمالی، متوجه کاربر خواهد بود.</p>
                                <p>خاطرنشان می&zwnj;گردد این فروشگاه به اطلاعات خصوصی اشخاصی که از خدمات سایت استفاده می&rlm;&zwnj;کنند، احترام گذاشته و از آن محافظت می&rlm;&zwnj;کند.</p>
                                <p>&nbsp</p>

                                <p><span style="color: #eb6526;"><strong>ارتباطات الکترونیکی</strong></span></p>
                                <p>با توجه به اینکه فروشگاه ترموس، یک فروشگاه آنلاین می&zwnj;باشد، هنگامی&zwnj;که شما از خدمات آن استفاده می&rlm;&zwnj;کنید و یا سفارش اینترنتی خود را ثبت یا خرید می&rlm;&zwnj;کنید و یا به فروشگاه ایمیل می&rlm;&zwnj;زنید، این ارتباطات به&zwnj;صورت الکترونیکی انجام می&rlm;&zwnj;شود و درصورتی&zwnj;که درخواست شما با رعایت کلیه اصول و رویه&rlm;&zwnj;ها باشد، شما موافقت می&zwnj;&rlm;کنید که فروشگاه به&zwnj;صورت الکترونیکی (از طریق پست الکترونیکی، سرویس پیام کوتاه و سایر سرویس&zwnj;های الکترونیکی) به درخواست شما پاسخ دهد.</p>
                                <p>همچنین آدرس ایمیل و تلفن&zwnj;هایی که مشتری در پروفایل خود ثبت می&zwnj;کند، تنها آدرس ایمیل و تلفن&zwnj;های رسمی و مورد تائید مشتری است و تمام مکاتبات و پاسخ&zwnj;های فروشگاه از طریق آن&zwnj;ها صورت می&zwnj;گیرد.</p>
                                <p>&nbsp</p>
                                <p><span style="color: #eb6526;"><strong>قیمت&zwnj;ها و موجودی کالاها</strong></span></p>
                                <p>کلیه قیمت&zwnj;های مندرج در سایت به&zwnj;
                                    روز و صحیح می&zwnj;باشد، برای سفارش عمده یک کالا بهتر است قبل از سفارش با بخش فروش هماهنگ نمایید .
                                <p>&nbsp;</p>



                                <p><span style="color: #eb6526;"><strong>نحوه ثبت سفارش</strong></span></p>
                                <p>ارسال سریع و دقیق سفارش&zwnj;ها منوط به ثبت و تکمیل سفارش در وب&zwnj;سایت فروشگاه می&zwnj;باشد. ازاین&zwnj;رو ثبت سفارش تلفنی خارج از حیطه اختیارات فروشگاه خواهد بود. شایان&zwnj;ذکر است به سفارش&zwnj;ها ثبت&zwnj;شده بدون تکمیل مراحل پرداخت و رسیدن به وضعیت «پرداخت تائید شده» (پرداخت به هر نوع که در فروشگاه قیدشده باشد) رسیدگی نمی&zwnj;گردد.</p>
                                <p>&nbsp;</p>
                                <p><span style="color: #eb6526;"><strong>نحوه ارسال سفارش و هزینه&zwnj;های مربوطه</strong></span></p>
                                <p>سفارش&zwnj;ها در شرایط عادی حداکثر طی یک روز کاری پس از تکمیل سفارش پردازش می&zwnj;گردند؛ در این حالت وضعیت سفارش به «در دست اقدام» تغییر می&zwnj;کند. این زمان در شرایط خاص و ایام پیک کاری، احتمال افزایش به دو یا سه روز کاری را خواهد داشت و در صورت تأخیر بیشتر از طریق ارتباطات الکترونیک به اطلاع مشتری خواهد رسید. زمان تحویل بسته به مشتری نیز بستگی به روش ارسال کالا دارد. سفارش&zwnj;ها ثبت&zwnj;شده طبق روشی که در زمان ثبت سفارش تعیین می&zwnj;شود، ارسال می&zwnj;گردد و هزینه بسته&zwnj;بندی و ارسال سفارش&zwnj;ها بر عهده مشتری می&zwnj;باشد. هزینه بسته&zwnj;بندی به نسبت تعداد ردیف کالای خریداری&zwnj;شده، به هزینه ارسال اضافه گشته و در مرحله پرداخت به مشتری اعلام می&zwnj;گردد.</p>
                                <p>با توجه به اینکه تمام مرسولات بیمه می&zwnj;شوند، تمام مسئولیت&zwnj;ها و آسیب&zwnj;های احتمالی در حین حمل بر عهده طرف قرارداد حمل کالا بوده و هرگونه پیگیری بر عهده خریدار بوده و فروشگاه تنها بر اساس تعهد معنوی، در حد توان در این مسیر مشتریان را یاری خواهد کرد.</p>
                                <p>پس از ارسال وضعیت سفارش به «جمع‌آوری شده» تغییر می&zwnj;کند. درج کد رهگیری و شماره بارنامه مرسولات، یک روز کاری پس از ارسال انجام خواهد یافت که پس&zwnj;ازآن وضعیت سفارش به «حمل شد» تغییر خواهد کرد.</p>
                                <p>&nbsp;</p>

                                <p><span style="color: #eb6526;"><strong>پیگیری سفارش&zwnj;ها</strong></span></p>
                                <p>وضعیت سفارش&zwnj;های ثبت&zwnj;شده، در قسمت جزئیات صفحه «<a href="{% url "module_profile:urls_profile_orders_history" %}" target="_blank" rel="noreferrer noopener">سفارش&zwnj;ها اخیر من / تاریخچه سفارش&zwnj;ها</a>»&nbsp; قابل مشاهده می&zwnj;باشد. تمامی سفارش&zwnj;هایی که تکمیل&zwnj;شده و به وضعیت «پرداخت تائید شده» رسیده باشند، در اسرع وقت پردازش شده و به وضعیت «در دست اقدام» تغییر وضعیت می&zwnj;دهند. این وضعیت نشانگر شروع عملیات جمع&zwnj;آوری سفارش می&zwnj;باشد. هرگونه تغییر در اقلام سفارش تنها قبل از این مرحله و در صورت هماهنگی با فروشگاه امکان&zwnj;پذیر خواهد بود. (برای کسب اطلاعات بیشتر در این زمینه با فروشگاه تماس حاصل فرمایید)</p>
                                <p>در صورت نیاز به هماهنگی در حین آماده&zwnj;سازی سفارش، با شماره تماس&zwnj;های اعلام&zwnj;شده از سوی مشتری تماس حاصل می&zwnj;گردد. در صورت بروز مشکلی درروند جمع&zwnj;آوری سفارش که به نظر کارشناسان فروش امکان ارسال بسته را صلب نماید و امکان تماس با مشتری نیز فراهم نگردد، سفارش به وضعیت «معطله» درآمده، مراتب به&zwnj;وسیله سایر ارتباطات الکترونیک به مشتری اعلام&zwnj;شده و تا تماس مشتری با فروشگاه، سفارش در این وضعیت باقی خواهد ماند. <br>پس از خروج بسته&zwnj;ها از انبار و تحویل سفارش به شرکت حمل کالا (پست، تیپاکس، باربری)، وضعیت سفارش به «جمع&zwnj;آوری شده» تغییر می&zwnj;یابد. بدیهی است هرگونه تغییر در محتویات سفارش در این مرحله امکان&zwnj;پذیر نخواهد بود.</p>
                                <p>کدهای رهگیری و شماره بارنامه مرسولات، حداکثر یک روز کاری پس از ارسال در قسمت مربوطه درج&zwnj;شده و از طریق صفحه تاریخچه سفارش&zwnj;ها قابل&zwnj;دسترسی می&zwnj;باشد. پس از ورود این اطلاعات وضعیت سفارش به «حمل شده» تغییر می&zwnj;یابد.</p>
                                <p>دقت داشته باشید تغییر وضعیت سفارش به&zwnj;تمامی حالات مذکور از طریق ایمیل و پیامک (در صورت عدم مسدودسازی پیامک&zwnj;های انبوه) به اطلاع مشتری می&zwnj;رسد.</p>
                                <p></p>

                                <p><span style="color: #eb6526;"> <strong>روش&zwnj;های ارسال سفارش</strong></span></p>
                                <p>ارسال کلیه سفارش&zwnj;ها ازفروشگاه مرکزی در کرمانشاه انجام می&zwnj;پذیرد. سفارش&zwnj;ها ثبت&zwnj;شده طبق روشی که در زمان ثبت سفارش تعیین می&zwnj;شود، ارسال می&zwnj;شوند که مشخصات و زمان حمل مربوطه به تشریح توضیح داده می&zwnj;شود. نکته مهم اینکه <span style="text-decoration: underline;">حداکثر وزن بسته برای ارسال با پست 10 کیلوگرم می&zwnj;باشد</span> که در صورت بیشتر شدن وزن، مراتب برای تغییر نوع ارسال به پس&zwnj;کرایه به اطلاع مشتری رسیده و مبلغ پرداختی برای هزینه پست عودت داده می&zwnj;شود.</p>

                                <p><span style="color: #eb6526;"><strong>پست پیشتاز:</strong></span></p>
                                <p>زمان حمل اعلامی شرکت پست در این روش 1 تا 3 روز است که برای مراکز استان 1 تا 2 روز، &zwnj;شهرستان&zwnj;های بزرگ 2 تا 3 روز و شهرهای کوچک و روستاها 3 روز می&zwnj;باشد. هرگونه تأخیر در این زمان&zwnj;بندی بر عهده شرکت پست بوده و خارج از مسئولیت فروشگاه می&zwnj;باشد. مرسولات ارسالی با پست از «<a href="https://newtracking.post.ir" target="_blank" rel="noreferrer noopener">سامانه رهگیری مرسولات پستی</a>» قابل رهگیری می باشند.</p>

{#                                <p><span style="color: #eb6526;"><strong>تیپاکس</strong><strong>:</strong></span></p>#}
{#                                <p><a href="https://tipaxco.com" target="_blank" rel="noreferrer noopener">تیپاکس</a>&nbsp;یک شرکت حمل&zwnj;ونقل خصوصی است که تنها در برخی شهرهای ایران خدمات&zwnj;رسانی می&zwnj;کند (شهرها و شهرستان&zwnj;های بزرگ).&nbsp;<br>زمان حمل اعلامی شرکت تیپاکس در این روش 1 تا 2 روز است و هزینه حمل بسته&zwnj;ها نیز با توجه به وزن بسته&zwnj;ها تعیین می&zwnj;شود. در این روش بسته&zwnj;ها به&zwnj;صورت پس&zwnj;کرایه ارسال می&zwnj;شوند و به این معنی که تنها هزینه خدمات در زمان سفارش دریافت می&zwnj;شود و هزینه حمل بسته در زمان تحویل بسته به مشتری از وی دریافت می&zwnj;شود.</p>#}
{#                                <p><strong>&nbsp;</strong></p>#}
{##}
{#                                <p><span style="color: #eb6526;"><strong>باربری و ترمینال</strong><strong>:</strong></span></p>#}
{#                                <p>در این دو روش نیز همانند تیپاکس بسته&zwnj;ها به&zwnj;صورت پس&zwnj;کرایه ارسال&zwnj;شده و امکان ارسال بسته&zwnj;ها به تمام شهرهای کشور مقدور می&zwnj;باشد. تمامی سفارش&zwnj;ها در این روش به&zwnj;صورت پیش&zwnj;فرض تحویل انبار شرکت&zwnj;های مسافربری (ارسال با اتوبوس) می&zwnj;شوند. در صورت تمایل به ارسال با باربری خاص، پس از هماهنگی و در دست داشتن اطلاعات تماس آن باربری در شهر کرمانشاه، با فروشگاه ترموس تماس حاصل فرمایید.</p>#}
{#                                <p></p>#}



                                <p><strong>&nbsp;</strong></p>
                                <p><strong>نکته:</strong><strong>&nbsp;</strong></p>
                                <p>- تمامی بسته&zwnj;های ارسالی به&zwnj;صورت کاملا استاندارد و بر اساس ضوابط تعریف&zwnj;شده برای بسته&zwnj;بندی تحویل پست (پیشتاز و سفارشی) و تیپاکس شده و در زمان ارسال بیمه می&zwnj;شوند، اما این بیمه تنها شامل عدم تحویل به گیرنده، به&zwnj;واسطه مفقودی، &zwnj;آتش&zwnj;سوزی و ... بوده و در صورت کوتاهی و حمل نامناسب شرکت&zwnj;های فوق، &zwnj;هیچ&zwnj;گونه مسئولیتی متوجه فروشگاه نخواهد بود.</p>
                                <p>- با توجه به پسکرایه بودن روشهای تیپاکس و باربری، سفارش ها با مبلغ پایین‌تر از میزان معمول به این دو روش ارسال نخواهند شد.</p>
                                <p><strong>&nbsp;</strong></p>

                                <p><span style="color: #eb6526;"><strong>لغو سفارش&zwnj;ها و شرایط برگشت وجه:</strong></span></p>
                                <p>درصورتی&zwnj;که پرداخت سفارش انجام شود،&zwnj; حد اکثر تا 12 ساعت پس از ثبت آن و در صورتی که سفارش پردازش نشده باشد (به وضعیت «در دست اقدام» درنیامده باشد)، می&zwnj;توان درخواست لغو سفارش را داد (فقط به&zwnj;صورت تلفنی) و کل هزینه را پس گرفت. در غیر این صورت مسئولیتی متوجه فروشگاه نخواهد بود.</p>
                                <p>&nbsp;</p>

                                <p><span style="color: #eb6526;"><strong>برگشت خوردن سفارش:</strong></span></p>
                                <p>درصورتی&zwnj;که بسته پس از ارسال به مبدأ برگشت بخورد،&zwnj; علت برگشت بسته بررسی می&zwnj;شود و در حالتی که علت آن عدم حضور شخص در زمان تحویل و یا اشتباه بودن مشخصات گیرنده (آدرس، تلفن، کد پستی و نام) باشد، خریدار موظف به پرداخت مجدد هزینه ارسال خواهد بود. امکان تغییر روش ارسال در این حالت وجود خواهد داشت.</p>
                                <p>&nbsp;</p>

                                <p><span style="color: #eb6526;"><strong>سیاست قیمت&zwnj;گذاری:</strong></span></p>
                                <p>قیمت&zwnj;های درج&zwnj;شده در سایت بر اساس تک&zwnj;فروشی می&zwnj;باشد و برای برخی کالاها قیمت&zwnj;های فروش تعداد بالا درج&zwnj;شده است. بر همین اساس درخواست تخفیف تنها برای سفارش&zwnj;ها عمده بررسی می&zwnj;شود و برای خرده&zwnj;فروشی تخفیفی اعمال نمی&zwnj;شود. بااین&zwnj;وجود برای ارسال سفارشی سفارش&zwnj;ها با مبلغ خاص، امکان ارسال رایگان فراهم گردیده است که به&zwnj;صورت خودکار بر روی سفارش&zwnj;ها اعمال می&zwnj;گردد.</p>
                                <p>&nbsp;</p>

                                <p><span style="color: #eb6526;"><strong>شرایط استفاده از کالا و خدمات فروشگاه:</strong></span></p>
                                <p>خریدار متعهد می&zwnj;گردد بر اساس قوانین جاری جمهوری اسلامی ایران از کالاهای فروشگاه استفاده نماید، مسئولیت هرگونه استفاده غیرقانونی از اقلام ارائه&zwnj;شده در وب سایت فروشگاه متوجه خریدار بوده و در صورت نیاز به مجوز برای استفاده از یک کالای خاص، خریدار می&zwnj;بایست شخصا نسبت به دریافت مجوزهای لازم از مراجع ذی&zwnj;صلاح اقدام نماید.</p>
                                <p>&nbsp;</p>





                                <p><span style="color: #eb6526;"><strong>تغییر شرایط و قوانین:</strong></span></p>
                                <p>حق تغییر شرایط و قوانین در هر زمان برای فروشگاه محفوظ می&zwnj;باشد، بدیهی است پس از تغییر شرایط و قوانین نسخه جدید از طریق وب&zwnj;سایت فروشگاه در دسترس خریداران قرار خواهد گرفت.</p>
                                <p>&nbsp;</p>
                                <p><span style="color: #eb6526;"><strong>قوه قهریه:</strong></span></p>
                                <p>تمامی شرایط و قوانین مندرج، در شرایط عادی قابل&zwnj;اجرا است و در صورت بروز هرگونه از موارد قوه قهریه (مانند و نه محدود به: سیل، زلزله، آشوب و ...) فروشگاه هیچ&zwnj;گونه مسئولیتی ندارد.</p>
                                <p>&nbsp;</p>

                            </div>
                          </section>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- content -->
{% endblock %}