{% load static %}
<!-- JS Global Compulsory -->
<script src="{% static "" %}js/plugins/jquery-3.6.0.min.js"></script>
<script src="{% static "" %}js/plugins/popper.min.js"></script>
<script src="{% static "" %}bootstrap/js/bootstrap.min.js"></script>
<!-- JS Implementing Plugins -->
<script src="{% static "" %}js/plugins/jquery.nice-select.min.js"></script>
{#<script src="{% static "" %}js/plugins/swiper-bundle.min.js"></script>#}
<script src="{% static "" %}js/plugins/countdown.min.js"></script>
<script src="{% static "" %}js/plugins/jquery.countdown.min.js"></script>

<script src="{% static "" %}js/plugins/ajax-remove-from-sidebar.js"></script>