    <!-- scrolltop -->
    <div class="sticky-toolbox">
        <ul>
            <li>
                <a href="#" class="compare-sticky" title="مقایسه">
                    <i class="fal fa-exchange"></i>
                    <span>0</span>
                </a>
            </li>
            <li>
                <a href="#" class="cart-sticky" title="سبد خرید">
                    <i class="fal fa-shopping-bag"></i>
                    <span>3</span>
                </a>
            </li>
            <li>
                <a href="#" class="scroll-sticky" title="رفتن به بالا">
                    <i class="fal fa-arrow-up"></i>
                </a>
            </li>
        </ul>
    </div>