{% load static %}
{% load render_partial %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% render_partial 'termos_eshop.views.partial_title_icon_view' %}


        {% include "shared/_HeaderRef.html" %}
        {% block header_extra_ref %}{% endblock %}
        <!-- mainStyle -->
        <link rel="stylesheet" href="{% static "" %}css/main.css">
        <link rel="stylesheet" href="{% static "" %}css/responsive.css">
    </head>

    <body>

{#        {% include "shared/_HeaderLayout.html" %}#}
        {% render_partial 'termos_eshop.views.partial_header_view' %}

        {% include "shared/_SearchBoxLayout.html" %}
        {% block content %}{% endblock %}
        {% render_partial 'termos_eshop.views.partial_footer_view' %}
{#        {% include "shared/_ScrollTopLayout.html" %}#}

    </body>

    {% include "shared/_FooterRef.html" %}
    {% block footer_extra_ref %}{% endblock %}
    <!-- JS Template -->
    <script src="{% static "" %}js/main.js"></script>

</html>