<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>فروشگاه اینترنتی ترموس</title>
</head>
    <body>
        <div style="border:0;font-size:100%;font:inherit;vertical-align:baseline;box-sizing:border-box;background-color:#ffffff;color:#718096;height:100%;margin:0;width:100%!important;direction:rtl;line-height:1;background:linear-gradient(180deg,rgba(100,116,139,0.08) 44.21%,rgba(100,116,139,0) 100%);background-size:cover;background-repeat:no-repeat;padding:70px 0 121px 0">
            <a href="https://termos.ir/" style="font-family:'iranyekanBakh','Vazir','IRANSans',B Yekan,Tahoma!important;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;box-sizing:border-box;color:#3869d4;margin:0 auto;display:flex;padding-bottom:45px" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://roocket.ir/&amp;source=gmail&amp;ust=1658780771448000&amp;usg=AOvVaw0VbkBmvr6yvaaKQSOmyoWn">
                <img style="font-family:'iranyekanBakh','Vazir','IRANSans',B Yekan,Tahoma!important;padding:0;font-size:100%;font:inherit;vertical-align:baseline;box-sizing:border-box;max-width:100%;border:none;margin:0 auto" src="{{ site_settings.logo.url }}" alt="{{ site_settings.site_title }}">
            </a>


            <section style="font-family:'iranyekanBakh','Vazir','IRANSans',B Yekan,Tahoma!important;border:0;font-size:100%;font:inherit;vertical-align:baseline;box-sizing:border-box;display:block;margin:0 auto;width:100%;max-width:780px;padding:0 30px">
                <div class="m_374907938579624383main-content" style="font-family:'iranyekanBakh','Vazir','IRANSans',B Yekan,Tahoma!important;margin:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;box-sizing:border-box;padding:79px 90px 32px 90px;background:#ffffff;border-radius:15px">
                    <div style="font-family:'iranyekanBakh','Vazir','IRANSans',B Yekan,Tahoma!important;margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;box-sizing:border-box">
                        <div style="font-family:'iranyekanBakh','Vazir','IRANSans',B Yekan,Tahoma!important;margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;box-sizing:border-box">
                            <div style="font-family:'iranyekanBakh','Vazir','IRANSans',B Yekan,Tahoma!important;margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;box-sizing:border-box;line-height:31px">
                                <br style="font-family:'iranyekanBakh','Vazir','IRANSans',B Yekan,Tahoma!important">
                                <div style="font-family:'iranyekanBakh','Vazir','IRANSans',B Yekan,Tahoma!important;margin:0;padding:0;border:0;font:inherit;vertical-align:baseline;box-sizing:border-box;font-size:16px;line-height:1.5em;margin-top:0;text-align:right">
                                    <p style="font-family:'iranyekanBakh','Vazir','IRANSans',B Yekan,Tahoma!important;margin:0;padding:0;border:0;font:inherit;vertical-align:baseline;box-sizing:border-box;font-size:16px;line-height:1.5em;margin-top:0;text-align:right">
                                        <span>
                                            آقا/خانم : {{ request.user.get_full_name }}
                                        </span>
                                        <br>
                                        <span>حساب کاربری شما در {{ site_settings.site_title }} با موفقیت ساخته شد</span>
                                        <br>
                                        <span>برای تایید آدرس ایمیل روی دکمه زیر کلیک کنید</span>
                                    </p>
                                </div>

                                <div style="font-size:100%;font:inherit;vertical-align:baseline;box-sizing:border-box;display:flex;margin-bottom:40px;margin-top:40px">
                                    <a href="" rel="noopener" style="font-size:100%;font:inherit;vertical-align:baseline;box-sizing:border-box;color:#3869d4;width:100%;max-width:303px;margin:0 auto" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://roocket.ir/series/electron-tutorial&amp;source=gmail&amp;ust=1658780771448000&amp;usg=AOvVaw2hgcPKTCOa_dCngGmxWTlH">
                                        <button style="font-family:'iranyekanBakh','Vazir','IRANSans',B Yekan,Tahoma!important;box-sizing:border-box;background:#3b82f6;border-radius:8px;height:45px;max-width:303px;width:100%;border:none;outline:none;color:white;font-size:16px;font-weight:bold;margin:0 auto">
                                            تایید ایمیل
                                        </button>
                                    </a>
                                </div>


                                <hr style="box-sizing:border-box;opacity:.2;margin:20px 0">
                                <p style="font-family:'iranyekanBakh','Vazir','IRANSans',B Yekan,Tahoma!important;margin:0;padding:0;border:0;font:inherit;vertical-align:baseline;box-sizing:border-box;font-size:16px;line-height:1.5em;margin-top:0;text-align:right">
                                    تشکر از شما بخاطر اینکه ما را انتخاب کردید ,
                                    <br>
                                    فروشگاه اینترنتی ترموس
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="yj6qo"></div>
        </div>
    </body>
</html>
